
<div class="chart-container">
      <h2>📊 Poblacion de Países mayores a 140M de personas</h2>

      @if (isLoading()) {
        <div class="loading">
          <div class="spinner"></div>
          <p>Cargando datos...</p>
        </div>
      }

      @if (errorMessage()) {
        <div class="error">
          <p>❌ {{ errorMessage() }}</p>
          <button (click)="loadData()">🔄 Reintentar</button>
        </div>
      }

      <div class="chart-wrapper" style="width: 700px; height: 400px; margin: 50px auto; border: 2px dashed #ccc; padding: 10px; text-align: center;">
        <canvas #chartCanvas></canvas> 
      </div>

      

      <!-- Chart canvas -->
      @if (!isLoading() && !errorMessage()) {
       

        <!-- Stats -->
        <div class="stats">
          <div class="stat-card">
            <span class="stat-label">Total países:</span>
            <span class="stat-value">{{ populationData().length }}</span>
          </div>
          <div class="stat-card">
            <span class="stat-label">Poblacion total:</span>
            <span class="stat-value">{{ getTotalPopulation() | number:'1.0-0' }} </span>
          </div>
          <div class="stat-card">
            <span class="stat-label">Poblacion promedio:</span>
            <span class="stat-value">{{ getAveragePopulation() | number:'1.0-0' }} </span>
          </div>
        </div>
      }
    </div>
